@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}

body, h1, ul, input, a, p {
    margin: 0;
    padding: 0;
    font-weight: unset;
}

a {
    color: unset;
    text-decoration: unset;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    font-weight: 300;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

.todo {
    margin: 0 auto;
    max-width: 550px;    
    margin-top: .5em;
    padding-top: .5em;
}

.todo__body {
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.todo__create-update-fields {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.004);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todo__header {
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    font-weight: 100;
    font-size: 3em;
}

/* New Todo Entry Field */
.todo__new-todo-entry {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    font-weight: 100;
    background-color: unset;
    padding: 16px;
    border: none;
    outline: none;
    flex: 1;

    &::-webkit-input-placeholder {
        opacity: .2;
        font-style: italic;        
    }
}

.todo__mark-all-complete {
    -webkit-appearance: none;
    font-size: 0px;
    outline: none;
    color: #e6e6e6;
    
    &:checked {
        color: #737373;
    }

    &::after {
        -webkit-appearance: none;
        content: '⌄';
        font-size: 3rem;
        display: block;
        line-height: 0;
        transform: translateY(-.05em);
        padding: 0 .5rem;
    }
}

.todo-items {
    margin: 1em 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    font-size: 1.5em;
    padding: .5em 0;
    border-top: 1px #ededed solid;
    display: flex;
    align-items: center;

    &:hover {
        .todo-item__destroy {
            display: block;
        }
    }
}

.todo-item__label {
    flex: 1;
}

.todo-item__edit-input {
    flex: 1;
    font-size: 1em;
    display: block;
}

.todo-item__complete-checkbox {
    width: 40px;
    height: 40px;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    margin-right: 1em;

    &::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    }
    &:checked::after {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }
}

.todo-item__destroy {
    display: none;
    background-image: url(x.png);
    width: 20px;
    height: 20px;
    right: 0;
    cursor:pointer;
}

.todo-footer {
    padding: 10px 16px;
    background-color: white;
    border-top: 1px #ededed solid;
    color: #777;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);    
}

.todo-footer__filter-categories {
    text-align: center;
}

.todo-footer__filter-category {
    display: inline-block;
}

.todo-footer__filter-category--selected {
    padding: 4px 8px;
    border: 1px solid rgba(175, 47, 47, 0.2);
    border-radius: 3px;
}

.todo-footer__clear-completed:hover {
    text-decoration: underline;
}